#search {

    margin: auto;
    width: 75%;
    padding: 10px;
}

input[type=text] {
    margin: 1em;
    width: 75%;
    padding: 1em;
}

button {
    padding: 1em;
    margin: 1em;
}

h1 {
    margin: 1em;
    margin-top: 3em;
}

p {
    margin: 1em;
    padding: 1em;
}

#radio-group {
    display: inline;
}

input[type=radio] {
    margin: 1em;
}