.app {
  font-family: Poppins;
  font-style: normal;
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: 0px;
  place-items: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #341930; 
  background-color: rgba(244, 230, 242, 0.36);
}

.page-container {
  padding-right: 3rem;
  padding-left: 3rem;
  padding-top: 2rem;
}